# Python cache
*.pyc
.ipynb_checkpoints/
*.egg-info/

# IDE settings
.vscode/
.idea/

# OSX-specific
.DS_Store

# uv files
uv.lock
.venv

#autogluon training runs
autogluon*

# archive folder if present
archive
